<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Primary Meta Tags -->
    <title><%- title %></title>
    <meta name="title" content="<%- title %>">
    <meta name="description" content="<%- description %>">
    <meta name="keywords" content="<%- keywords %>">
    <meta name="author" content="<%- author %>">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%- url %>">
    <meta property="og:title" content="<%- title %>">
    <meta property="og:description" content="<%- description %>">
    <meta property="og:image" content="<%- ogImage %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%- url %>">
    <meta property="twitter:title" content="<%- title %>">
    <meta property="twitter:description" content="<%- description %>">
    <meta property="twitter:image" content="<%- ogImage %>">

    <!-- Canonical URL -->
    <link rel="canonical" href="<%- url %>">
    
    <link href="/src/index.css" rel="stylesheet">
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
